<ion-header>

  <ion-navbar>
    <ion-title>Baby Tracker</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="createFeedingPage()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="feedings?.length > 0; else noFeedings">
    <ion-item-sliding *ngFor="let feeding of feedings">
      <ion-item (click)="openDetailPage(feeding)">
        <h2>{{feeding.id}}</h2>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-start (click)="deleteFeeding($event, feeding)">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>

    <ng-template #noFeedings>
      <h3>No Feedings Found</h3>
    </ng-template>
 
  </ion-list>
</ion-content>
