<ion-header>

  <ion-navbar>
    <ion-title>Baby Tracker</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)="createNewDate($event)">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let date of dates" (click)="dateSelected($event, date)">
      {{date}}
    </button>
  </ion-list>
  <ion-item *ngFor="let item of items | async">
    {{item | json}}
  </ion-item>
</ion-content>
